<!-- Chart and Graph buttons -->
<div class="row panel center-block" ng-controller="sensingCtrl" ng-hide="data.error">
    <div class="col-xs-6">
        <a ng-click="selectFormat()" class="btn btn-primary btn-lg">Table</a>
        <a ng-click="selectFormat()" class="btn btn-primary btn-lg" disabled="disabled">Graph</a> 
    </div>
</div>

<!-- Arduino buttons -->
<div class="row panel center-block">
    <div class="col-xs-6">
        <a ng-click="selectFormat()" class="btn btn-default btn-sm">Lil Ardi</a>
        <a ng-click="selectFormat()" class="btn btn-default btn-sm" disabled="disabled">Lil Brdi</a>
        <a ng-click="selectFormat()" class="btn btn-default btn-sm" disabled="disabled">Lil Crdi</a>
        <a ng-click="selectFormat()" class="btn btn-default btn-sm" disabled="disabled">Lil Drdi</a> 
    </div>
 </div>