<!DOCTYPE html>
<html ng-app="sensingApp">
<head lang="en">
    <title>CSCI 3308 Remote Sensing App</title>
    <script src="js/angular.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <script src="controllers/sensingApp.js"></script>
    <script src="filters/customFilters.js"></script>
    <script src="controllers/dataListControllers.js"></script>
</head>

<body ng-controller="sensingCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">CSCI 3308 Remote Sensing App</a>
    </div>
    <!-- error message at failed data binding-->
    <div class="alert alert-danger" ng-show="data.error">
        Error. The sensor data was not loaded. <a href="app.html" class="alert-link">Check here to try again.</a>
    </div>
    <!-- ng-view /views/chart.html -->

    <!-- ng-view /views/table.html -->
    <div class="well" ng-controller="dataListCtrl">
        <a ng-click="selectData()" class="btn btn-default btn-lg">All Records</a>
        <a ng-repeat="item in data.record | orderBy:'boardName' | unique:'boardName'" ng-click="selectData(item)" class="btn btn-default btn-lg" ng-class="getDeviceClass(item)">{{item}}</a>
        <br>
        <br>
        <div ng-hide="data.error">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Location</th>
                        <th>Brightness</th>
                        <th>Temperature</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in data.record | orderBy:'boardName' | filter:deviceFilterFn">
                    <tr>
                        <td class="col-sm-1">{{$index+1}}</td>
                        <td>{{item.boardName}}</td>
                        <td>{{item.sensorData.Light}}%</td>
                        <td>{{item.sensorData.Temperature}} &deg;F</td>
                        <td>{{item.date | date : 'medium'}}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
    <!-- ng-view /views/chart.html -->
 

</body>

</html>
